@CHARSET "ISO-8859-1";
#about a { display: block; margin-bottom: .313em; }
#about #popup_content p { text-align: left; margin-top: 0; }
#about #popup_content h1 { text-align: center; }
#about #popup_content h2 { font-size: 1.2em; margin-bottom: .313em; }
#about-image { margin-top: .75em; background-color: #ffffff; width: 30%; margin-bottom: .188em; padding: .75em; margin-right: 0; }
#missionStatment, .contributions { margin-bottom: .188em; background-color: #F6F6FF; text-align: left; color: #647082; padding: .75em; width: auto; margin-right: 0; margin-left: 0; }
.about-contribution { display: inline; }
#attribution a { display: inline-block; margin-bottom: .313em; }
#attribution p { font-size: .75em; margin-bottom: .313em; }
#about h2 { margin-top: 0; }