@CHARSET "US-ASCII";
/*RESET */
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* RESET END */
html { height: 100%; position: relative; }
body { position: relative; min-height: 100%; }
#content-main { position: relative; right: 0; /* box-shadow: .125em 0 rgba(000, 000, 000, .25); */ }
body, input, textarea, select, button, h1, h2, p { font-family: 'Roboto', sans-serif; font-size: 1em; }
h1, h2 { line-height: 1.16em; font-weight: 400; }
h1 { font-size: 1.5em }
p, li { font-weight: 300; line-height: 1.16em; }
li { padding: .215em 0; text-align: left; }
.tabbed li { text-indent: -1.05em; margin-left: 1.9em; }
a { text-decoration: none; cursor: pointer; color: #647082; }
.active a { color: #309ddb; }
.active img { background-color: #309DDB; }
.active h1 { color: #F6F6FF; }
.inactive h1 { color: #676668; }
.inactive img { background-color: rgba(65, 64, 66, .2); }
.focused { display: inline-block; }
.unfocused, #delete-invalidPassword { display: none; }
copyright { font-family: 'Roboto', sans-serif; font-weight: 300; font-size: .625em; }
.empty { height: 1em; }
input { width: 100%; margin: -.031em auto -.031em -.063em; padding: .75em 0 .75em 0; border: solid #647082; border-width: .063em; }
	input:focus, textarea:focus { outline: 0; }
input, textarea { color: #647082; }
input, textarea, select { font-weight: 300; }
textarea { margin-top: 1em; padding: .75em; resize: none; border: .063em solid #647082; }
select { border: 0; color: #647082; -webkit-appearance: none; -moz-appearance: none; background: url("../images/web/icon_drop_down_smoke_blue_down.png") no-repeat; text-indent: .001em; text-overflow: ""; outline: none; }
.element { border-radius: .188em; }
.element-top { border-top-left-radius: .188em; border-top-right-radius: .188em; }
.element-bottom { border-bottom-left-radius: .188em; border-bottom-right-radius: .188em; }
.element-left { border-top-left-radius: .188em; border-bottom-left-radius: .188em; }
.element-right { border-top-right-radius: .188em; border-bottom-right-radius: .188em; }
.title { width: 100%; background-color: #647082; color: #F6F6FF; padding-top: .75em; padding-bottom: .75em; border-top-left-radius: .188em; border-top-right-radius: .188em; }
	.title h1 { font-size: 1em; }
.white { border-bottom: .625em solid #F6F6FF; }
.dark { border-bottom: .625em solid #647082; }
.arrow-down { width: 0; height: 0; border-left: 1.25em solid transparent; border-right: 1.25em solid transparent; border-top: 1.25em solid #f00; }
.arrow-up { width: 0; height: 0; border-left: .625em solid transparent; border-right: .625em solid transparent; }
.arrow-right { width: 0; height: 0; border-top: .438em solid transparent; border-bottom: .438em solid transparent; border-left: .438em solid #647183; }
.arrow-left { width: 0; height: 0; border-top: .625em solid transparent; border-bottom: .625em solid transparent; border-right: .625em solid blue; }
.rightFloat { float: right; }
.leftFloat { float: left; }
.clearFloat { clear: both; }
.container { max-width: 60em; margin: 0 auto; }
.centerText { text-align: center; }
.shadow { -moz-box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); -webkit-box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); }
button { cursor: pointer; width: 100%; }
	button::-moz-focus-inner, a::-moz-focus-inner { border: 0; }
.loader { background: url("../images/web/loading_intencity.gif") no-repeat scroll 0 0 transparent; height: 2em; width: 2em; z-index: 10; display: none; background-color: #FFFFFF; border-radius: .188em; }
.loader-button { margin: -1em .4em; position: relative; top: 1.45em; }
.loader-popup { top: 1.3em; }
.loader-title { top: .5em; }
.visible { display: block; }
.listItem { width: 100%; color: #647082; border: 0; margin: .125em 0 0 0; padding-top: .75em; padding-bottom: .75em; }
.button { padding: .75em 0 .75em 0; font-weight: 400; color: #F6F6FF; text-align: center; background-color: rgba(100, 112, 130, .48); cursor: pointer; border: none; }
#btnGetStarted:hover { background-color: #309DDB; }
.button:hover { background-color: rgba(48, 157, 219, .75); }
.disclaimer { font-size: .875em; }
.videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; }
	.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.lastElementPadding { padding-bottom: 5em; }
#beta { position: fixed; bottom: 4.5em; right: 1em; padding: .438em .5em; background-color: rgba(48, 157, 219, .75); color: rgb(246, 246, 255); font-size: .875em; z-index: 10; }
.backgroundPopup, .tutorialBackground { z-index: 20; position: fixed; display: none; height: 100%; width: 100%; background: #000000; top: 0; left: 0; }
#signIn { top: 35%; }
#register, #feedback, #pointsDescription, #dialog-fitnessGoal, #social_networks { top: 25%; }
#removeExercise, #existingExercise, #savedRoutine, #dialog-removeRoutine, #dialog-selectExerciseDays, 
#dialog-insertExerciseToContinue, #dialog-passwordEmailed, .dialog { top: 40%; }
#sumbitted, #error { top: 45%; }
#signIn, #register, #feedback, #removeExercise, #sumbitted, #error, #existingExercise, #savedRoutine,
#dialog-removeRoutine, #dialog-selectExerciseDays, #dialog-insertExerciseToContinue, #dialog-passwordEmailed, 
#search-resultPopup, #pointsDescription, #dialog-fitnessGoal, #welcome, #social_networks, .dialog { text-align: center; border-radius: .188em; display: none; left: 50%; margin-left: -11em; height: auto; background-color: #ffffff; position: fixed; width: 22em; z-index: 21; }
#touArticles, #about-content, #info-content, #socialContent, #welcome-content { margin-right: .75em; }
#info-content, #welcome-content{ position: relative; }
#exerciseInfoOverflow { width: 28em; }
#search-resultPopup { margin-left: -14.75em; width: 28.75em; top: 6.25em;}
#about, #feedback_reported_user, #terms-popup, #approved_exercises_admin, #add_exercise_admin{ text-align: center; border-radius: .188em; display: none; left: 50%; margin-left: -15.375em; background-color: #ffffff; position: fixed; width: 30.75em; z-index: 21; }
#about, #terms-popup, #search-resultPopup, #welcome { bottom: .75em; }
#feedback_reported_user, #approved_exercises_admin, #add_exercise_admin { bottom: .438em; }
#terms-popup li { margin-left: 1em; }
#about, #terms-popup, #feedback_reported_user, #approved_exercises_admin, #add_exercise_admin, #welcome { top: 3.25em; }
#exclusionList { border-radius: .188em; display: none; height: auto; margin-left: 0; background-color: #ffffff; position: absolute; z-index: 30; }
.overflow, #terms-body, .feedbackOverflow, .approved_adminOverflow, .add_exerciseOverflow, #exerciseInfoOverflow, .socialNetworkOverflow, .welcomeOverflow{ top: 1.97em; overflow-y: auto; bottom: .75em; position: absolute; }
.socialNetworkOverflow{ width: 97%}
.socialNetworkOverflow p {margin-bottom: .75em;}
#exclusionList { width: 100%; }
	#exclusionList .popup { padding-left: 0; padding-right: .4em; margin: -.75em 0 0 -.2em; }
	#exclusionList #popup_content { margin: .188em; }
	#exclusionList .close { top: .3em; }
#reportHeader { overflow: hidden; }
.popup { padding-left: .75em; padding-right: .75em; box-shadow: 0 .063em rgba(000, 000, 000, .25); margin: -.75em 0 0 -.75em; }
#popup_content .element-top-separated, #terms-body { margin-top: .75em; }
#popup_content .separated { margin-top: .125em; }
#popup_content button { color: #F6F6FF; }
.popup h1 { margin-left: 2em; }
.popup-container { width: 100%; margin-left: 4%; }
div.close { background: url("../images/web/icon_close_white.png") no-repeat scroll 0 0 transparent; top: .1em; margin-right: 1em; cursor: pointer; float: right; height: 1.875em; left: 1.688em; position: relative; width: 1.875em; }
div#popup_content { margin: 0 .75em .75em; }
#popup_content p, #popup_content h2 { margin-top: .75em; }
#popup_content h2 { margin-bottom: .125em; }
#popup_content ol { text-align: left; }
.space { margin-top: .75em }
.social { padding: .75em }
.checkBox {display: inline-block; width: auto; margin-right: .313em; vertical-align: middle;}
#doNotShowWelcome {display: inline-block; font-size: .9em;}
.block { display: block }
.error { color: #ff0000; font-weight: 300; } 
#welcome{ max-height: 21.25em;}
.tutorial{ width: 16.75em}
.equipmentSelect{color: #F6F6FF;}
@media only screen and (max-width: 959px) {
	.active a { color: #647082; }
	.lastElementPadding { padding-bottom: 10em; }
	#beta { bottom: 4.25em; right: .75em; }
	#register, #signIn, #feedback, #removeExercise, #sumbitted, #error { width: 100%; left: 0; margin-left: 0; }
	#register, #signIn, #pointsDescription, #feedback, #dialog-fitnessGoal, #social_networks, #search-resultPopup, #terms-popup, #about, #approved_exercises_admin, #feedback_reported_user, #add_exercise_admin, .dialog { position: fixed; top: .875em; margin-top: .75em;}
	#about, #terms-popup{bottom: 3.875em;}
	#welcome{margin-top: .75em;}
	#exclusionList, #search-resultBody, .dialog { width: 92%; margin-left: 4%; }
	#search-resultPopup { display: block; width: 92%; left: auto; margin-left: 4%; }
	#exerciseInfoOverflow { right: 0; width: initial; left: .75em; }
	#about, #terms-popup, #dialog-fitnessGoal, #social_networks, #feedback, #signIn, #register, .dialog { width: 92%; left: auto; margin-left: 4%; }
	#pointsDescription{ width: 92%; left: auto; margin-left: 0; }
	#welcome, #dialog-fitnessGoal { top: .75em}
	#exclusionList { position: fixed; top: .563em;}
}
@media only screen and (max-width: 468px)
{
	#welcome { width: 92%; left: auto; margin-left: 4%;}
}