@CHARSET "US-ASCII";
#newsFeed { display: block; margin-top: 1.25em; }
#loader-newsFeed { margin: -1em 0 -1em -.75em; position: relative; top: 1.25em; left: 50%; }
#newsFeed textarea { overflow-y: hidden; margin-bottom: 0; line-height: 1.563em; padding: 0; padding-left: .625em; padding-top: 0; vertical-align: top; padding-bottom: 0; resize: none; }
#container-publish { padding-top: .125em; margin-bottom: 1.25em; }
#publish-news { border: solid rgba(100, 112, 130, .55) .063em; height: auto; }
#newsBox { display: block; width: 100%; margin: auto; border: none; height: 1.563em; }
#webNews-camera, #mobileNews-camera { float: right; margin-right: .813em; }
#webNews-camera { display: block; margin-top: -1.875em; }
#mobileNews-camera, .container-button-post { display: none; }
#newsForm { border: none; border-left: none; border-right: none; border-bottom-right-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; margin-right: 4.063em; margin-top: .563em; margin-bottom: .5em; }
.posters_image { height: inherit; width: 3.125em; vertical-align: top; margin: .625em; margin-right: .25em; }
.post-original { border: none; background-color: #f6f6ff; font-weight: 300; font-size: .75em; margin-bottom: .75em; }
.post-comment { border: none; font-weight: 300; }
.comment-remove { position: absolute; right: .75em; }
.posted-newsFeed { display: block; margin-top: -1.313em; margin-bottom: .625em; margin-right: .625em; margin-left: 4.063em; width: auto; padding-bottom: .625em;}
.postContainer { margin-bottom: 1.25em; background-color: #f6f6ff; margin-left: 0; margin-right: 0; }
.post-header { display: inline-block; width: auto; margin-top: .625em; }
.postContainer h2 { display: inline-block; font-weight: 400; color: #309DDB; margin-bottom: .313em; }
.postContainer h3 { font-weight: 300; font-size: .625em; }
.post-commentContainer { width: 100%; background-color: #ffffff; }
.post-comment { width: 97%; margin-right: .625em; margin-top: 0; height: 1.563em; }
#noPosts { padding: .75em; text-align: center; }
.comment-wrapper .posters_image {margin-left: 0;}
.comment-wrapper h2 {font-size: .75em;}
.comment-wrapper .posted-newsFeed {margin-left: 3.438em; padding-bottom: 0;}
.comment-wrapper .postContainer {margin-bottom: 0; margin-top: -.625em;}
.comment-wrapper .post-header {margin-top: .5em;}

@media only screen and (max-width: 959px) 
{
	#newsFeed { margin-top: 0; margin-bottom: .188em; }
	#container-publish { padding-top: 0; }
	#webNews-camera { display: none; }
	#mobileNews-camera { display: block; margin-top: -2.5em; }
	.comment-remove { right: 1.25em; }
	#newsForm { border: none; border-left: none; border-right: none; border-bottom-right-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; margin-right: 4.875em; margin-bottom: .813em; margin-top: .813em; }
	#newsBox { vertical-align: middle; }
	#publish-news { border-left: none; border-right: none; border-bottom-right-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; height: auto; }
	.postContainer { margin-left: .625em; margin-right: .625em; }
	.posted-newsFeed { margin-left: .625em; margin-top: 0;}
	.post-comment { width: 97%; margin-right: .625em; }
	.post-commentContainer { background-color: #ffffff; }
	.comment-wrapper .posters_image {margin-left: .625em;}
	.comment-wrapper .posted-newsFeed {margin-left: .625em;}
}