<!DOCTYPE html>
	<head>
		<title>Intencity</title>
		<meta charset="UTF-8">

		<meta property="og:title" content="Intencity" />
		<meta property="og:url" content="http://www.Intencity.fit" />
		<meta property="og:image" content="http://www.intencity.fit/images/logo_facebook.png" />
		<meta property="og:description" content="Intencity is a free social application that helps users with their everyday fitness goals. It is an application built with the user in mind containing robust features to motivate and prevent injuries." />
		<meta property="fb:app_id" content="256882641152821" />

		<meta name="robots" content="index,follow">
		<meta name="description" content="Intencity is a free social application that helps users with their everyday fitness goals. It is an application built with the user in mind containing robust features to motivate and prevent injuries." />
		<meta name="keywords" content="Nick, Piscopio, Nick Piscopio, Nicholas, Nicholas Piscopio, Chris, Christopher, Christopher Piscopio, Chris Piscopio, Intencity, IntencityApp, Intencity App, 
									   Intensity, IntensityApp, Intensity App, Fitness, Fitness Log, Fitness Guru, Get In Shape, Exercise App, Exercise, Exercise Application, theBasementTechnologies, 
								   	   theBasement, Technology, Basement, Workout App, Workout, Intencity.fit, Intensity.fit, Workout of the Day, Lifting, Lift, Weight Lifting, Gym, Beachbody, Beach body, WOD, Training, Weights, Weight Training, Strong, Body Building, Building, Strong, Android, iOS, Swift, Java, Get Fit, Weight Loss, Personal Trainer, Trainer">

		<meta name="author" content="Intencity.fit">
		<meta itemprop="image" content="images/logo_facebook.png">
		<meta name="dcterms.rights" content="&copy; 2017 All Rights Reserved. Intencity.fit">
		<meta name="dcterms.dateCopyrighted" content="2017">
		
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		
		<!-- CSS -->
		<!-- <link rel="stylesheet" type="text/css" href="css/intencity_normalize.css">
		<link rel="stylesheet" type="text/css" href="css/main.css"> -->
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500'>

		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="javascripts/constant/network_config.js"></script>

		<link rel="shortcut icon" href="images/favicon.ico">

	</head>

	<body>

		<%-include(content) %>

	</body>	

</html>