body {
    letter-spacing: .031em;
    background: #F6F6FF;
    margin: 0;
    padding: 0
}

a,
h2 {
    font-weight: 500
}

.hero,
a,
img {
    vertical-align: middle
}

body,
html {
    position: relative;
    height: 100%
}

.swiper-container {
    width: 100%;
    height: 100%
}

#swiper0,
#swiper4 {
    background: #309DDB
}

#swiper1,
#swiper3 {
    background: #647082
}

#swiper2 {
    background: #414042
}

#swiper5 {
    background: #FFF
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

#footer p,
.appStore,
.hero {
    display: inline-block
}

a,
img {
    outline: 0;
    line-height: 2.5em;
    padding: .75em
}

#hero img {
    height: 40.438em
}

h1 span {
    font-weight: 400
}

h1,
p {
    color: #FFF
}

h1 {
    font-weight: 300;
    font-size: 1.625em
}

h2 {
    color: #309DDB;
    padding: 1.5em 0 .5em;
    letter-spacing: .125em;
    font-size: .938em
}

.demoContainer {
    max-width: 60em;
    margin: 0 auto
}

.appStore a,
.next {
    margin: 0;
    padding: 0
}

.next {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 99
}

#webAppContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%
}

.appStore img {
    margin: .25em;
    padding: 0
}

.appStore p {
    color: #647082;
    font-weight: 400;
    text-align: right;
    font-size: x-small;
    padding-top: .25em .25em .125em .25em;
    padding-right: 1em
}

#footer p,
#hero p {
    color: #F6F6FF
}

#hero {
    text-align: center
}

#hero p,
#webApp {
    font-size: small
}

#footer p {
    font-size: x-small
}

#footer {
    z-index: 999;
    position: fixed;
    margin-top: 1em;
    bottom: 0;
    background-color: #414042;
    width: 100%
}

#footer a,
#footer img {
    padding: 0
}

#footer img {
    padding: .5em .25em
}

#webApp:hover {
    color: #FFF;
    background-color: #309DDB
}

.descriptionTitle {
    padding: 0 0 .375em
}

.descriptionDescription {
    line-height: 1.375em
}

#description {
    text-align: left;
    display: inline
}

#descriptionMobile {
    display: none
}

@-moz-document url-prefix() {
    .right {
        width: 30%
    }
}

@media only screen and (min-width:660px) {
    .left {
        float: left;
        padding-top: 2.5em;
        padding-left: 1em
    }
    .right {
        float: right
    }
    .descriptionDescription {
        font-size: 1.125em
    }
    #descriptionContainer {
        padding-left: .5em;
        width: 70%
    }
}

@media only screen and (max-width:960px) {
    #hero img,
    .demoContainer,
    .hero {
        height: 85%
    }
    .footerContent {
        padding-left: .5em;
        padding-right: .5em
    }
    #descriptionContainer,
    #descriptionMobile {
        padding: .625em;
        text-align: center
    }
    .hero {
        display: inline-block;
        vertical-align: middle
    }
    .descriptionDescription {
        margin: 0 auto;
        width: 70%
    }
    #description {
        display: none
    }
    #descriptionMobile {
        display: inline
    }
    @-moz-document url-prefix() {
        #footer img {
            padding: 1em .25em
        }
        #footer p {
            padding-bottom: 1em
        }
        .footerContent {
            padding: 0
        }
        .left,
        .right {
            width: 100%
        }
    }
}

@media only screen and (max-width:660px) {
    #heroLogo {
        width: 70%
    }
    #footer img {
        padding: 1em .25em
    }
    #footer p {
        padding-bottom: 1em
    }
    .footerContent {
        padding: 0
    }
}