@CHARSET "US-ASCII";
html { height: 100%; position: relative; }
body { position: relative; min-height: 100%; font-family: 'Roboto', sans-serif; background: #FFF; }
#main { width: 100%; height: 100%}
h1, h2, p, a, copyright { letter-spacing: .016em; } 
h1 { font-size: 2.5em; line-height: 1.16em; font-weight: 400;}
h2 { font-size: 2em; font-weight: 400; }
p { font-weight: 400; line-height: 1.16em; }
a { font-size: .875em;
	text-decoration: none; cursor: pointer; 
	line-height: 2.5em;
    vertical-align: middle;
    font-weight: 500
}
.active .aLink { color: #309DDB}
.aLink {color: #647082; padding: .75em;}
.aLink:hover { color: #FFF; background-color: #309DDB; }

copyright { font-weight: 300; font-size: .625em; }
.rightFloat { float: right; }
.leftFloat { float: left; }
.clearFloat { clear: both; }
.shadow { -moz-box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); -webkit-box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); }