@CHARSET "US-ASCII";

html, body {
        position: relative;
        height: 100%;
    }
body {
    background: #F6F6FF;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

#swiper0
{
	background: #309DDB;
}

#swiper1
{
	background: #647082;
}

#swiper2
{
	background: #414042;
}

#swiper3
{
	background: #647082;
}

#swiper4
{
	background: #309DDB;
}

#swiper5
{
	background: #FFF;
}

.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

a, img
{ 
	outline: none;
	vertical-align: middle;
	line-height: 2.5em;
	padding: .75em;
	font-weight: 500;
}

h1, p
{
	color: #FFF;
}

h2
{
	color: #309DDB;
	padding: 1.5em 0 .5em 0;
	font-weight: 500;
	letter-spacing: .125em;
	font-size: .938em;
}

.demoContainer { max-width: 60em; margin: 0 auto; }

.next
{
	position: absolute;
	bottom: 1em;
	right: 1em;
	padding: 0;
	margin: 0;
	z-index: 99;
}

#webAppContainer
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.hero
{
	display:inline-block;
    vertical-align:middle;
}

.appStore
{
	display: inline-block;
}

.appStore a
{
	padding:.75em 1.125em 1.05em .25em;
	background-color: #647082;
	margin: .5em;
}

.appStore span
{
	display:inline-block;
	vertical-align:middle;
	color: #F6F6FF;
}

.appStore a:hover
{
	background-color: #309DDB;
}

.appStore a:active
{
	background-color: #647082;
}

.appStore p
{
	color: #647082;
	font-weight: 400;
	text-align: right;
	font-size: x-small;
	padding-top: .25em;
	padding-right: 1em;
}

#androidDownloadButton { -moz-box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); -webkit-box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); box-shadow: .063em .063em .188em rgba(000, 000, 000, .25); }

#hero
{
	text-align: center;
}

#hero p, #footer p
{
	color: #F6F6FF;
}

#hero p, #webApp
{
	font-size: small;
}

#hero p
{
	color: #F6F6FF;
}

#footer p
{
	color: #F6F6FF;
	font-size: x-small;
}

#footer
{
	z-index: 999;
	position: fixed;
	margin-top: 1em;
	bottom: 0;
	background-color: #414042;
	width: 100%; 
}

#footer p
{
	display:inline-block;
	color: #F6F6FF;
}

#footer a, #footer img
{
	padding: 0;
}

#footer img
{
	padding: .5em .25em;
}

#webApp:hover
{
	color:#FFF;
	background-color: #309DDB;
}

.descriptionTitle
{
	padding: 0 0 .2em 0;
}

.descriptionDescription
{
	line-height: 1.25em;
}

#description
{
	text-align: left;
	display: inline;
}

#descriptionMobile
{
	display: none;
}

@media only screen and (max-width: 960px)
{
	.footerContent
	{
		padding-left: .5em;
		padding-right: .5em;
	}
}

@media only screen and (min-width: 660px)
{
	.left
	{
		float: left;
		padding-top: 2.5em;
		padding-left: 1em;
	}

	.right
	{
		float: right;
	}

	.descriptionDescription
	{
		font-size: large;
	}

	#descriptionContainer
	{
		padding-left: .5em;
		width: 70%;
	}
}

@media only screen and (max-width: 960px)
{
	.demoContainer
	{
		height: 85%;
	}

	.hero
	{
		display:inline-block;
	    vertical-align:middle;
	    height: 85%;
	}

	#hero img
	{
		height: 85%;
	}

	.descriptionDescription
	{
		margin: 0 auto;
		width: 70%;
	}

	#descriptionContainer
	{
		padding: .625em;
		text-align: center;
	}

	#description
	{
		display: none;
	}

	#descriptionMobile
	{
		padding: .625em;
		text-align: center;
		display: inline;
	}
}

@media only screen and (max-width: 660px)
{
	#heroLogo
	{
		width: 70%;
	}

	#footer img
	{
	    padding: 1em .25em 1em .25em;
	}

	#footer p
	{
	    padding-bottom: 1em;
	}

	.footerContent
	{
		padding: 0;
	}
}