@CHARSET "ISO-8859-1";
#add_exercise_settings .button { margin-bottom: .75em; padding: 0; margin-top: 0; }
.settings_centerDivider { width: 50%; display: inline-block; float: left; }
.add_exerciseOverflow .settings_leftColumn { margin-left: 0; width: 99%; }
.add_exerciseOverflow .settings_centerColumn { margin-right: 0; float: left; width: 97%; margin-left: .375em; }
.fitnessType_admin { background-position: 6em .563em; width: 6.938em; }
.fitnessTypeAdd_admin { width: 97%; }
.settings_leftColumn { width: auto; display: inline-block; float: left; margin-left: .75em; text-align: left; margin-bottom: .313em; }
.settings_rightColumn { width: 100%; display: block; float: left; text-align: left; margin-left: .75em; }
.settings_centerColumn { width: auto; margin-right: .75em; display: inline-block; float: right; }
#exercise_review_settings, #video_report_settings, #photo_report_settings, #people_report_settings, #feedback_settings, #notification_settings,
#privacy_settings, #login_settings, #submitted_exercises, #current_equipment_settings { margin-bottom: .75em; }
#privacy_settings #privacy_settingCenter .settings_leftColumn, #privacy_settings #privacy_settingCenter .settings_centerColumn,
#login_settings .settings_centerColumn, #login_settings .settings_leftColumn .settings_centerColumn .settings_leftColumn { display: block; text-align: center; float: none; margin-left: 0; margin-right: 0; }
#add_exercise_admin a { padding: 0; margin: 0; float: right; margin-left: .75em; line-height: 2em;}
.add_directions, .add_equipment, .add_muscleGroups, .add_muscles, .add_alternativeName { font-weight: 400; }
.add_exerciseOverflow textarea, #add_exercise_admin p { margin-top: 0; }
.textarea, .muscleGroupTextarea, .muscleGroupAmount_admin {border: none; height: 1.563em; line-height: 1.563em; padding-top: 0; padding-bottom: 0; }
.muscleGroupTextarea { width: 61%; }
.directionsAdd_admin, .equipmentAdd_admin, .addVideo_admin, .addSummited_admin { text-align: left; }
.settings_centerDivider .settings_centerColumn, .recommended_admin { margin-bottom: .313em; }
.textarea { width: 88%; }
#add_exercise_admin form p, .add_recommended_admin, #add_exercise_admin h2, #add_exercise_admin img { display: inline-block; vertical-align: sub; color: #414042; }
#add_exerciseHeader, .textarea, .muscleGroupTextarea, .muscleGroupAmount_admin { overflow: hidden; }
#add_exercise_admin #add_exerciseHeader button { width: 100%; float: right; }
.add_recommended_admin { width: auto; margin-right: .188em; }
.privacy_settings { padding-top: .5em; }
.muscleGroupAmount_admin { width: 13%; }
#button-sendExerciseVideo { display: none; }
.textareaBorder { border: solid rgba(100, 112, 130, .55) .063em; margin-top: .188em;}
#add_exerciseForm {margin-top: .563em; margin-bottom: .5em; border: none; }
#wrapper-button-deleteAccount { padding-top: .75em }
#settings hr {border-bottom-style: none; border-left-style: none; border-right-style: none; margin-bottom: .75em;}
#deleteAccount {text-align: center; margin-right: 0; font-weight: 300; }
.addExercise{padding-top: .75em; padding-bottom: .75em; border-top-left-radius: .188em; border-top-right-radius: .188em; width: 100%;}
#settingsHeader{ color: #414042; margin-bottom: .438em; margin-top: -.313em;}
@media only screen and (max-width: 959px)
{
	#settings { position: relative; margin: 0 auto; height: auto; width: 92%; }	
}

@media only screen and (max-width: 530px)
{
	#add_exercise_admin, #approved_exercises_admin, #feedback_reported_user { width: 92%; left: auto; margin-left: 0; }
	.settings_centerDivider { width: 100%; display: block; float: left; }
	.textarea { width: 93%; }
	.muscleGroupAmount_admin { float: right; }
	.media_reported { width: 100%; }
	.add_exerciseOverflow .settings_centerColumn { margin-left: 0; width: 100%; }
	.muscleGroupTextarea { width: 72%; }
}

@media only screen and (max-width: 468px)
{
	.muscleGroupTextarea { width: 71%; }
}

@media only screen and (max-width: 460px)
{
	#privacy_settings .settings_centerColumn, #privacy_settings .settings_leftColumn { display: block; text-align: center; float: none; margin-left: 0; margin-right: 0; }
	.textarea { width: 91%; }
	.muscleGroupTextarea { width: 70%; }
	.privacy_settings { padding-top: 0; }
}

@media only screen and (max-width: 420px)
{
	.muscleGroupTextarea { width: 67%; }
}